img {
  max-width: 100%;
  border-radius: 10px;
  padding: 4px;
}

.info {
  display: block;
  flex-direction: row;
  justify-content: space-between;
}




.info .inst {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.site {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  display: block;

}

.instname {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}
