.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(16, 122, 122);
}

.font {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
